!!!
%html
  %head
    %title Hire Alex Ford


    %meta(name="viewport" content="width=device-width")

    %script(type="text/javascript" src="//use.typekit.net/gda6dgi.js")

    :javascript
      try{Typekit.load();}catch(e){}

    %link(rel="stylesheet" href="/stylesheets/main.css")

  %body
    .container
      %section.white
        %h1 I'm Alex Ford
        %p
          I am a digital media generalist with experience in UI/UX design, web development, copywriting, motion graphics/video, and tech entreprenuership. I work fast to solve problems and am a quick learner of new technology and methods. You can learn more about me and my background on
          %a(href="http://twitter.com/alexford" target="_blank") Twitter
          or
          %a(href="http://www.linkedin.com/profile/view?id=24105971" target="_blank") LinkedIn
          

      %section
        %h1
          I'm available for long term projects, and I am also making my time available in one hour consulting blocks, for
          %strong $100.

        %h2
          %strong I can get a lot done in an hour.
          %br
          Here are some of the things I can help you with:

      %section.skill.white
        %i.icon-left.fa.fa-picture-o.blue
        %h2 Design and branding
        %p I can take a look at your interface, print piece, brand identity, website, or other design and provide quality, constructive, and actionable feedback. 

      %section.skill
        %i.icon-right.fa.fa-video-camera.green
        %h2 Video and digital media
        %p I can take a look at your interface, print piece, brand identity, website, or other design and provide quality, constructive, and actionable feedback.

      %section.skill.white
        %i.icon-left.fa.fa-code.red
        %h2 HTML, CSS, and JavaScript issues
        %p I am an experienced front end web developer with a knack for solving weird website problems. jQuery plugin not working? IE freaking out on your CSS? No problem, just point me at your site.

      %section.skill
        %i.icon-right.fa.fa-cloud-download.turqoise
        %h2 Website performance
        %p I will check out your website and quickly point out specific front end changes that will help it load faster for your visitors, and help implement them.

      %section.skill.white
        %i.icon-left.fa.fa-lightbulb-o.orange
        %h2 App idea consultation
        %p Got an idea for an iPhone app or tech startup? Let me hear it and I can help you brainstorm markets, analyze competitors, and talk through technical challenges and next steps.

      %section.skill
        %i.icon-right.fa.fa-pencil.purple
        %h2 Writing
        %p I can help smooth out your copy, or help you write a blog post, email, or landing page from scratch.

