!!!
%html
  %head
    %title Hire Alex Ford


    %meta(name="viewport" content="width=device-width")

    %script(type="text/javascript" src="//use.typekit.net/gda6dgi.js")

    :javascript
      try{Typekit.load();}catch(e){}

    %link(rel="stylesheet" href="/stylesheets/main.css")

  %body
    .container
      %section.white
        %h1 I'm Alex Ford
        %p
          I am a digital media generalist with experience in UI/UX design, web development, copywriting, motion graphics/video, and tech entreprenuership. I work fast to solve problems and am a quick learner of new technology and methods. You can learn more about me and my background on Twitter or LinkedIn.

      %section
        %h1
          I'm available for long term projects, and I am also making my time available in one hour consulting blocks, for
          %strong $100.

        %h2
          %strong I can get a lot done in an hour.
          %br
          Here are some of the things I can help you with:

      %section.skill.white
        %i.icon-left
        %h2 Provide design advice
        %p I can take a look at your interface, print piece, brand identity, website, or other design and provide quality, constructive, and actionable feedback. 