// fontawesome
@import './vendor/fontawesome/font-awesome.scss'

// reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display: block
 
body
  line-height: 1
 
ol, ul
  list-style: none
 
blockquote, q
  quotes: none
 
blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none
 
table
  border-collapse: collapse
  border-spacing: 0


body
  font-family: "adelle-sans",sans-serif
  background: #f3f3f3
  -webkit-font-smoothing: antialiased

*
  box-sizing: border-box

.container
  max-width: 616px
  margin: 50px auto

  @media (screen and max-width: 616px)
    margin-top: 0

  section
    padding: 30px

    h2:not(:last-child)
      margin-bottom: 15px


    &.white
      background: white
      border-radius: 8px
      -moz-box-shadow:    0px 1px 0px 1px rgba(0,0,0,0.07)
      -webkit-box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.07)
      box-shadow:         0px 1px 0px 1px rgba(0,0,0,0.07)

      @media (screen and max-width: 616px)
        border-radius: 0

    i.icon-left, i.icon-right
      display: block
      height: 150px
      width: 150px
      
      font-size: 75px
      color: #888
      text-align: left
      line-height: 125px

      @media (screen and max-width: 570px)
        font-size: 50px !important
        line-height: 50px 
        width: 80px
        height: 60px
        padding: 0 !important
        float: none !important
        text-align: left !important

      &.icon-left
        float: left
        padding-left: 23px
        
      &.icon-right
        float: right
        text-align: right
        padding-right: 23px

      &.blue
        color: #358DF4  
      &.green
        color: #7CCD2F
      &.red
        color: #D0021B
      &.turqoise
        color: #40DFC2
      &.orange
        color: #F5A623
        font-size: 100px
      &.purple
        color: #8E43FB

    &.skill p
      font-size: 18px
      line-height: 28px

h1
  color: #4A4A4A
  margin-top: 0
  font-size: 30px
  line-height: 40px
  margin-bottom: 20px
  font-weight: 600
  font-style: normal
  strong
    font-weight: 700

h2
  color: #4a4a4a
  font-size: 20px
  line-height: 30px
  font-weight: 700
  strong
    font-weight: 300

p
  font-weight: 300
  font-style: normal
  color: #4A4A4A
  font-size: 20px
  line-height: 30px

a
  color: #4A90E2
  text-decoration: none
  &:hover
    border-bottom: 1px solid #4a90e2
