// fontawesome
@import './vendor/fontawesome/font-awesome.scss'

// reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display: block
 
body
  line-height: 1
 
ol, ul
  list-style: none
 
blockquote, q
  quotes: none
 
blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none
 
table
  border-collapse: collapse
  border-spacing: 0


body
  font-family: "adelle-sans",sans-serif
  background: #f3f3f3
  -webkit-font-smoothing: antialiased

*
  box-sizing: border-box

.container
  max-width: 616px
  margin: 100px auto

  @media (screen and max-width: 616px)
    margin-top: 0

  section
    padding: 30px
    position: relative

    clear: both

    &.ruled
      border-top: 1px solid #ccc
      margin-top: 10px

    h2:not(:last-child)
      margin-bottom: 15px


    &.white
      background: white
      border-radius: 8px
      -moz-box-shadow:    0px 1px 0px 1px rgba(0,0,0,0.07)
      -webkit-box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.07)
      box-shadow:         0px 1px 0px 1px rgba(0,0,0,0.07)

      @media (screen and max-width: 616px)
        border-radius: 0

    i.icon-left, i.icon-right
      display: block
      height: 150px
      width: 100px
      
      font-size: 60px
      color: #888
      text-align: left
      line-height: 60px

      @media (screen and max-width: 570px)
        font-size: 40px !important
        line-height: 40px 
        width: 80px
        height: 50px
        padding: 0 !important
        float: none !important
        text-align: left !important

      &.icon-left
        float: left
        
      &.icon-right
        float: right
        text-align: right

      &.blue
        color: #358DF4  
      &.green
        color: #7CCD2F
      &.red
        color: #D0021B
      &.turqoise
        color: #40DFC2
      &.orange
        color: #F5A623
      &.purple
        color: #8E43FB

    &.skill p
      font-size: 18px
      line-height: 28px

h1
  color: #4A4A4A
  margin-top: 0
  font-size: 30px
  line-height: 40px
  margin-bottom: 20px
  font-weight: 600
  font-style: normal
  strong
    font-weight: 700

h2
  color: #4a4a4a
  font-size: 20px
  line-height: 30px
  font-weight: 700
  strong
    font-weight: 300
  small
    font-size: 14px
    margin-left: 10px
    font-weight: 300

p
  font-weight: 300
  font-style: normal
  color: #4A4A4A
  font-size: 20px
  line-height: 30px


.info p
  font-size: 15px
  line-height: 22px
  margin-bottom: 10px
  strong
    font-weight: 700

.testimonials
  margin-bottom: 40px

.testimonial
  float: left
  width: 47%
  margin-right: 5%
  margin-bottom: 30px

  &:nth-child(odd)
    margin-right: 0

  @media (screen and max-width: 479px)
    width: 100%
    margin-right: 0%

  p
    font-size: 15px
    line-height: 22px
    font-style: italic
    font-weight: 400

    .source
      display: block
      font-weight: 700
      font-style: normal
      margin-top: 10px

a
  color: #4A90E2
  text-decoration: none
  &:hover
    border-bottom: 1px solid #4a90e2

.avatar
  width: 125px
  height: 125px
  background: url('/images/headshot.jpg')
  background-size: cover
  border-radius: 75px

  -moz-box-shadow:    0px 1px 0px 1px rgba(0,0,0,0.07)
  -webkit-box-shadow: 0px 1px 0px 1px rgba(0,0,0,0.07)
  box-shadow:         0px 1px 0px 1px rgba(0,0,0,0.07)

  position: absolute
  top: -50px
  right: 50px

  @media (screen and max-width: 616px)
    top: 15px
    right: 15px
    width: 70px
    height: 70px

.hidden
  display: none

section.status

  &#success h2
    border-color: #7CCD2F

  h2
    border-radius: 8px
    border: 1px dashed #ccc
    padding: 20px
    text-align: center

    .fa-exclamation-circle
      color: #a00

    .fa-refresh
      color: #aaa

    .fa-check
      color: #7CCD2F

// form

form

  .info
    display: inline-block
    color: #959595
    width: 35%
    padding-left: 15px
    padding-top: 13px
    font-size: 18px
    strong
      font-weight: 700
      color: #777

    small
      margin-top: 5px
      display: block
      font-size: 12px
      line-height: 14px

    @media (screen and max-width: 479px)
      width: 100%
      padding-left: 0
      padding-top: 20px

      .amount
        display: inline-block
        width: 100%

      small
        width: 50%
        float: right
        margin-top: 0
        text-align: right

  input[type='submit']
    float: left
    -webkit-font-smoothing: antialiased
    display: inline-block
    width: 60%
    border: none
    background: #4A90E2
    color: white
    border-radius: 8px
    font-family: "adelle-sans",sans-serif
    font-size: 20px
    font-weight: 700
    padding: 20px



    @media (screen and max-width: 479px)
      width: 100%

    /* Rectangle 8: */
    -moz-box-shadow: 0px 2px 0px 0px #407FC8
    -webkit-box-shadow: 0px 2px 0px 0px #407FC8
    box-shadow: 0px 2px 0px 0px #407FC8

    &:hover
      cursor: pointer
      background: #5498E8

    &:active
      -moz-box-shadow: none
      -webkit-box-shadow: none
      box-shadow: none
      position: relative
      top: 2px

    &:active, &:focus
      outline: none

  .input
    margin-bottom: 20px

    &.half
      float: left
      width: 47.5%
      margin-right: 5%

      &:nth-child(even)
        margin-right: 0

      @media (screen and max-width: 479px)
        width: 100%
        margin-right: 0%

    input, textarea
      border-radius: 3px
      background: #fafafa
      border: 1px solid #bbb
      font-size: 18px
      padding: 10px
      font-family: "adelle-sans",sans-serif
      color: #333
      width: 100%

      &:focus
        background: #fff
        outline: none
        border-color: #999

    label
      font-weight: 700
      color: #4A4A4A
      text-transform: uppercase
      font-size: 12px
      line-height: 15px
      display: block
      margin-bottom: 5px

      small
        font-weight: 300
